<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Acceso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_menu.css') }}">
</head>

<body>
    <div class="info-bar">
       <!-- <span>ID Cliente: {{ ID_CLIENTE }}</span>
        <span>ID Usuario: {{ id_usuario }}</span>
        <span>Fecha y Hora: {{ fecha_hora }}</span>
    -->
    </div>

    <img src="{{ url_for('static', filename='imagen/logo-clt.png') }}" 
         alt="Logo" class="logotwo">

    <nav class="navbar">
        <ul>
            <!-- Verificar si el menú tiene elementos -->
            {% if menu %}
                {% for item in menu %}
                    {% if item['tpo_nodo'] == 'PADRE' %}
                        <li>
                            <!-- Nodo padre con enlace -->
                            <a href="{{ item['path'] }}">{{ item['descripcion'] }}</a>
                            <ul>
                                <!-- Iterar para encontrar los hijos del nodo padre actual -->
                                {% for child in menu %}
                                    {% if child['tpo_nodo'] == 'HIJO' and child['id_modulo'] > item['id_modulo'] %}
                                        <li>
                                            <!-- Nodo hijo con enlace -->
                                            <a href="{{ child['path'] }}">{{ child['descripcion'] }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <li>No se encontraron elementos en el menú.</li>
            {% endif %}
        </ul>
    </nav>

    <div class="content"> <!-- Agregar un contenedor para el contenido -->
        <h1>Menú de Acceso</h1>
        <a href="{{ url_for('login') }}">Cerrar sesión</a>

        <!-- Mostrar el JSON en bruto para fines de depuración
        <pre class="json-text" id="json-output"></pre>-->
    </div>

    <script>
        // Mostrar el JSON en bruto en el área de depuración
        const menuData = {{ menu | tojson }};
        document.getElementById('json-output').textContent = JSON.stringify(menuData, null, 2);
    </script>
</body>

</html>
