/* Estilo de la barra de información */
.info-bar {
    background-color: #61dafb;
    padding: 10px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 99%;
    z-index: 100;
}

/* Estilo del logo */
.logotwo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

/* Estilo del menú superior */
.navbar {
    background-color: #0077b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    /*espacio superior*/
    margin-top: 45px;
    width: 100%;
    z-index: 99;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ajusta el espacio del contenido para que no quede cubierto por la barra */
.content {
    margin-top: 100px;
    /* Espacio total para la barra de información y el menú */
    padding: 20px;
}

/* Estilo de los elementos del menú */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    position: relative;
}

.navbar a {
    display: block;
    color: #000000;
    /* Color del texto */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #61dafb;
    /* Color de fondo al pasar el mouse */
}

/* Estilo del submenú */
.navbar ul li ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2980b9;
    /* Color del submenú */
    padding: 0;
    z-index: 1000;
}


.navbar ul li:hover ul.submenu {
    display: block;
}

.navbar ul li ul.submenu li {
    display: block;
}

.navbar ul li ul.submenu li a {
    padding: 10px;
    background-color: #3498db;
    /* Color de fondo del submenú */
    color: white;
}

.navbar ul li ul.submenu li a:hover {
    background-color: #1a6ea7;
    /* Color de fondo al pasar el mouse en el submenú */
}


/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Alineación del título */
h1 {
    margin-top: 0;
    padding-top: 10px;
    text-align: center;
}

/* Estilo del pie de página */
footer {
    text-align: center;
    padding: 5px;
    background-color: #61dafb;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 5;
}