/* Barra superior */
.info-bar {
    /*background: linear-gradient(1deg, #74A8ED, #d0f0fd);*/
    background-color: #82B3EF;
    padding: 10px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #415FFF;
    height: 50px;
    /* Ajustado el tamaño */
}

/* Contenedor del botón "Cerrar sesión" */
.cerrar-sesion {
    margin-left: unset;
    display: fixed;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.cerrar-sesion a {
    background-color: #82B3EF;
    color: #000000;
    padding: 8px 12px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cerrar-sesion a:hover {
    background-color: #1abc9c;
}

/* General */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
}

/* Logo */
.logotwo {
    width: 120px;
    height: auto;
    margin-right: 10px;
}

/* Menú lateral */
.navbar {
    background-color: #82B3EF;
    padding: 15px;
    width: 250px;
    position: fixed;
    top: 50px;
    /* Ajustado para que no se superponga a la barra superior */
    bottom: 0;
    left: 0;
    z-index: 98;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    color: #415FFF;
    overflow-y: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    padding: 10px 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: lighter;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #1abc9c;
    color: white;
}

.navbar ul li ul.submenu {
    display: none;
    background-color: #2c3e50;
    padding-left: 5px;
    border-radius: 10px;
    padding: 5px;
}

.navbar ul li:hover ul.submenu {
    display: block;
}

.navbar ul li ul.submenu li a {
    padding: 8px;
    color: #bdc3c7;
    border-radius: 10px;
    font-weight: lighter;
}

.navbar ul li ul.submenu li a:hover {
    background-color: #1abc9c;
    color: white;
    border-radius: 10px;
}

/* Contenido */
.content {
    margin-left: 300px;
    margin-top: 50px;
    /* Ajustado para evitar que se superponga a la barra superior */
    padding: 30px;
    background-color: #ecf0f1;
    border-radius: 15px;
    min-height: calc(100vh - 100px);
    /* Asegura que el contenido llene la pantalla */
}


.container2 {
    margin-left: 0px;
    margin-top: 0px;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 15px;
    min-height: calc(100vh - 100px);

}

h1 {

    text-align: left;
    font-size: 1.2rem;
    color: #5d5d5d;
}

h2 {
    text-align: left;
    font-size: 1.5rem;
    color: #5d5d5d;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #5d5d5d;
}

buttoN {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
select {

    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.dynamic-fields {
    margin-top: 10px;
}

.field {
    margin-bottom: 5px;
}

.field-group {
    display: flex;
    justify-content: space-between
}

.field-group>div {
    width: 5px;
    padding: 10px 20px;
    position: relative;
}

.add-field {
    background-color: #2196F3;
}

.delete-field {
    background-color: #f44336;
}

/* Pie de página */
footer {
    background: #ffffff;
    text-align: center;
    color: #000000;
    font-weight: lighter;
    position: fixed;
    width: 100%;
    bottom: 0;
}