<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
</head>
<body>
    <div class="header">
        <h1> </h1>
        <!-- Logo, asegúrate que la ruta sea correcta y el tamaño adecuado -->
        <img src="{{ url_for('static', filename='imagen/logo-clt.png') }}" 
             alt="Logo" class="logo">
        <br> 
    </div>
    <div class="form-container">
        <h1>Inicio de Sesión</h1>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="input-group">
                <label for="id_usuario">Usuario ID</label>
                <input type="text" id="id_usuario" name="id_usuario" required>
            </div>

            <div class="input-group">
                <label for="pwd">Password:</label>
                <input type="password" id="pwd" name="pwd" required>
            </div>
            <br> 
            <button type="submit" class="center-button">Ingresar</button>
            <br>
        </br>
            {{ edit_1 }}
            <label class="forgot-password" onclick="location.href='restpass.html'" style="display: block; text-align: center; color: black; background-color: transparent; cursor: pointer;">Forgot Password?</label>
            {{ edit_2 }}
        </form>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
