<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_menu.css') }}">

    <script>
        function cargarModulo(url) {
            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    document.querySelector('.content').innerHTML = data;
                })
                .catch(error => {
                    console.error('Hubo un problema con la solicitud Fetch:', error);
                    document.querySelector('.content').innerHTML = '<p>Error al cargar el módulo</p>';
                });
        }

        function saveCurrentModule(url) {
            sessionStorage.setItem('lastModule', url); // Guardar la URL del módulo actual
        }

        function loadLastModule() {
            const lastModule = sessionStorage.getItem('lastModule');
            if (lastModule) {
                cargarModulo(lastModule); // Cargar el último módulo visitado
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const links = document.querySelectorAll('.navbar a');

            links.forEach(link => {
                link.addEventListener('click', function (e) {
                    e.preventDefault();
                    const url = this.getAttribute('href');

                    if (url && url !== '#') {
                        cargarModulo(url); // Cargar el módulo usando la URL correcta
                        saveCurrentModule(url); // Guardar el módulo actual
                    }
                });
            });

            // Cargar el último módulo visitado al iniciar la página
            loadLastModule();
        });
    </script>
</head>

<body>
    <div class="info-bar">
        <img src="{{ url_for('static', filename='imagen/logo-clt.png') }}" alt="Logo de la Empresa" class="logotwo">
        <span>Cliente: VIVO - Solutions 2 GO</span>
        <span>Usuario: {{ id_usuario.upper() }}</span>
        <span>Fecha y Hora: {{ fecha_hora }}</span>

        <div class="cerrar-sesion">
            <a href="{{ url_for('index') }}">Cerrar Sesión</a>
        </div>
    </div>

    <div class="main-container" style="display: flex; height: calc(100vh - 50px);">
        <nav class="navbar" style="width: 250px; background-color: #82B3EF;">
            <ul>
                {% if menu %}
                    {% for item in menu %}
                        <li>
                            <a href="#">{{ item['descripcion'] }}</a>
                            {% if item['hijos'] %}
                                <ul class="submenu">
                                    {% for child in item['hijos'] %}
                                        <li>
                                            <a href="{{ url_for('load_module', module_name=child['path']) }}">{{ child['descripcion'] }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li>No se encontraron elementos en el menú.</li>
                {% endif %}
            </ul>
        </nav>

        <div class="content" style="flex-grow: 2; padding: 20px;">
            <h2>Menú de Acceso</h2>
            <p>Hola {{ id_usuario.upper() }}, Por favor seleccione un módulo del menú para visualizar su contenido.</p>
            <p>Tienes accesos a: {{load_module}}</p>
        </div>
    </div>
</body>

</html>
