<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menú Principal SMS</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='imagen/favicon-vivo.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style_menucons.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- Enlace al archivo JavaScript externo -->
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
  </head>

  <body>
    <div class="info-bar">
      <img
        src="{{ url_for('static', filename='imagen/logo-clt.png') }}"
        alt="Logo de la Empresa"
        class="logotwo"
      />
      <span> <i class="fas fa-building"></i> {{ raz_social }}</span>
      <span> <i class="fas fa-user"></i> {{ nom_usr|upper }}</span>
      <span> <i class="fas fa-calendar-alt"></i> {{ fecha_hora }}</span>

      <div class="home">
        <a href="{{ url_for('menu') }}"><i class="fas fa-home"></i> Home</a>
      </div>

      <div class="cerrar-sesion">
        <a href="{{ url_for('index') }}">Cerrar Sesión</a>
      </div>
      <button id="theme-toggle">Cambiar Tema</button>
    </div>
    <div
      class="main-container"
      style="display: flex; height: calc(100vh - 50px)"
    >
      <nav class="navbar">
        <!--
        style="width: 250px; background-color: #82b3ef"
      -->
        <ul>
          {% if menu %} {% for item in menu %}
          <li>
            <a href="#">
              <i class="{{ item['icono'] }}"></i> {{ item['descripcion'] }}
            </a>
            {% if item['hijos'] %}
            <ul class="submenu" style="display: none">
              {% for child in item['hijos'] %}
              <li>
                <a
                  href="{{ url_for('load_module', module_name=child['path']) }}"
                >
                  <i class="{{ child['icono'] }}"></i> {{ child['descripcion']
                  }}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %} {% else %}
          <li>No se encontraron elementos en el menú.</li>
          {% endif %}
        </ul>
      </nav>

      <div class="content" style="flex-grow: 2; padding: 20px">
        <h2>Bienvenido</h2>
        <p>
          Hola <strong>{{ nom_usr }}</strong>, tu perfil es:
          <strong>{{ dsc|default('Sin Perfil')|upper }}</strong>.
        </p>
        <p>
          Por favor selecciona un módulo del menú para visualizar su contenido.
        </p>
        <p><strong>Tienes acceso a:</strong></p>
        {% if menu %}
        <ul>
          {% for item in menu %}
          <li><strong>{{ item['descripcion'] }}</strong></li>
          {% if item['hijos'] %}
          <ul>
            {% for child in item['hijos'] %}
            <li>{{ child['descripcion'] }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endfor %}
        </ul>
        {% else %}
        <strong>No tienes acceso a ningún módulo.</strong>
        {% endif %}
      </div>
    </div>
  </body>
</html>
