<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Gestión de Usuarios</title>
  </head>
  <body>
    <div class="module-content">
      <h1>Gestión de Usuarios</h1>
      <div>
        <button onclick="executeAction('enable')">Habilitar</button>
        <button onclick="executeAction('disable')">Deshabilitar</button>
        <button onclick="executeAction('reset_password')">
          Cambio Contraseña
        </button>
      </div>
      <table id="userTable">
        <thead>
          <tr>
            <th>Seleccionar</th>
            <th>Usuario</th>
            <th>Nombre Completo</th>
            <th>Email</th>
            <th>RUT</th>
            <th>Tienda</th>
            <th>Status</th>
            <th>Perfil</th>
            <th>Último Cambio</th>
            <th>Expiración</th>
          </tr>
        </thead>
        <tbody></tbody>
        <!-- Asegúrate de que el ID esté correcto -->
      </table>
    </div>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
  </body>
</html>
