<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Ventas, Análisis de Ventas </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_menu.css') }}">
</head>

<body>
    <div class="info-bar">
        <img src="{{ url_for('static', filename='imagen/logo-clt.png') }}" alt="Logo de la Empresa" class="logotwo">
        <span>Cliente: {{ ID_CLIENTE }}</span>
        <span>Usuario: {{ id_usuario.upper() }}</span>
        <span>Fecha y Hora: {{ fecha_hora }}</span>
        <a href="{{ url_for('menu') }}">Volver al Menú</a>
        <a href="{{ url_for('index') }}">Cerrar sesión</a>
    </div>

    <nav class="navbar">
        <ul>
        </ul>
    </nav>

    <div class="content">
        <h1>Gestion de Ventas, Análisis de Ventas</h1>
    </div>

</body>

<footer>
    <p>© 2024 Todos los derechos reservados.</p>
</footer>

</html>